# Name of the Google calendar to add meetings to
CALENDAR = 'primary'

# Saved Google credentials filename
CREDENTIALS = 'credentials.json'

# Use day first in when interpreting dates, e.g. 02/03/2022 means 2 March 2022
DAYFIRST = True

# Default timezone
DEFAULT_TIMEZONE = 'Australia/Sydney'

# Timezone Shortcuts (shortcut should be lowercase, meetings.txt will be case-insensitive)
TIMEZONE_SHORTCUTS = {
    'hk': 'Asia/Hong_Kong',
    'sydney': 'Australia/Sydney',
    'nyc': 'America/New_York',
    'sf': 'America/Los_Angeles',
    'la': 'America/Los_Angeles',
    'tokyo': 'Asia/Tokyo',
    'london': 'Europe/London',
    'paris': 'Europe/Paris',
    'warsaw': 'Europe/Warsaw'
}